<mat-card class="ps-2 mb-4">
    <div class="d-flex justify-content-between align-items-center p-1">
        <div><h4>Projects</h4></div>
        <div>
            <button type="button" class="btn btn-primary d-flex justify-content-between align-items-center" (click)="openForm()"><mat-icon>add</mat-icon>Add</button>
        </div>
    </div>
</mat-card>

<mat-card>
  <div class="row px-0 mx-0 d-flex">
    <div class="col-3 px-0" style="height: 84vh;">
      <mat-card class="px-0 mx-0" style="height: 84vh;">
        <mat-list *ngFor="let project of projects">
          <mat-list-item   (click)="selectProject(project)" [class.active]="project.id === activeProjectId">
             <span class="fw-bold">{{ project.projectName }}</span><br>
            <small class="text-muted">Created by: {{ project.createdBy.fullname }}</small>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-card>
    </div>
    <div class="col-9" *ngIf="isShow ==1">
      <app-projects-details [project]="selectedProject"></app-projects-details>
    </div>
  </div>
</mat-card>