<div class="row">
<div class="col-8">
  <img src="login.png" style="height:100vh; width: 152%;" />
</div>
<div class="col-3 d-flex align-items-center">
<form [formGroup]="resetForm" (ngSubmit)="onReset()">
    <mat-form-field appeacloseDialogrance="outline" floatLabel="always" class="w-100 mt-3">
      <mat-label>User Name</mat-label>
      <input matInput formControlName="username" type="text" />
    </mat-form-field>
    <mat-form-field appeacloseDialogrance="outline" floatLabel="always" class="w-100 mt-3">
      <mat-label>New Password</mat-label>
      <input matInput formControlName="newPassword" type="text" />
    </mat-form-field>
    <mat-form-field appeacloseDialogrance="outline" floatLabel="always" class="w-100 mt-3">
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="confirmPassword" type="text" />
    </mat-form-field>
    <div class="d-flex justify-content-between align-items-center">
      <button class="btn" tooltip="cancel"><a routerLink="/components/login">Cancel</a></button>
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>

  <!-- <div *ngIf="message" style="color:green">{{ message }}</div>
  <div *ngIf="error" style="color:red">{{ error }}</div> -->
</form>
</div>
</div>