<div class="row d-flex justify-content-between align-items-start pt-4">
  <!-- Left content -->
  <div class="col-9">
    <h4><span class="fw-bold">Project Name:</span> {{ project.projectName }}</h4>
    <p><span class="fw-bold">Project Created By:</span> {{ project.createdBy.fullname }}</p>
    <p><span class="fw-bold">Project Description:</span> {{ project.projectDescription }}</p>
    <p>
      <span class="fw-bold">Assign To Employees:</span>
      <span *ngFor="let user of project.assignedTo; let last = last">
        {{ user.fullname }}<span *ngIf="!last">, </span>
      </span>
    </p>
  </div>
  <div class="col-3 d-flex justify-content-start gap-2">
    <button *ngIf="project.createdBy.id === USERID"  type="button" class="px-1 pt-2  btn btn-outline-primary" matTooltip="Edit" (click)="openForm(project)">
     <mat-icon class="pt-1">edit</mat-icon>
    </button>
    <button *ngIf="project.createdBy.id === USERID" type="button" class="px-1 pt-2  btn btn-outline-danger" matTooltip="Delete" (click)="deleteProject(project._id)">
      <mat-icon class="pt-1">delete</mat-icon>
    </button>
  </div>
</div>
